# Logs
*.log
logs/

# Database
*.db
*.sqlite

# Binaries
server
vmmanager
bin/
*.exe
*.out

# Dependencies
node_modules/

# Build
web/dist/
web/build/

# Uploads
uploads/

# SSL Certificates
*.pem
!</nginx/ssl/*.pem
!</web/cert.pem
web/key.pem
